{% extends 'base.html.twig' %}

{% block title %}Admin - Articles{% endblock %}

{% block body %}
    
    <h1 class="text-center mt-3 mb-3">Gestion articles</h1>
    
    <p>
        <a href="{{ path('app_admin_article_edit') }}" class="btn btn-outline-info mb-2">
            Ajouter un article
        </a>
    </p>
    
    <table class="table table-striped">
        
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Date de publication</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Auteur</th>
            <th scope="col">Illustration</th>
            <th width="250px"></th>
        </tr>
        </thead>
        
        <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.publicationDate|date('d/m/Y H:i') }}</td>
                    <td>{{ article.category }}</td>
                    <td>{{ article.author }}</td>
                    <td>
                        {% if article.image is not null %}
                        <img src="{{ asset('images/' ~ article.image) }}" alt="" class="rounded" height="50px">
                        {% else %}
                            Aucune illustration
                        {% endif %}
                    </td>
                    <td class="text-right" width="250px">
                        <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}" class="btn btn-info">
                            Modifier
                        </a>
                        <a href="{{ path('app_admin_article_delete', {'id': article.id}) }}" class="btn btn-outline-danger ml-1">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        Aucun article
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>


{% endblock %}